@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --primary: #DA0211;
  --black: #111111;
  --white: #FFFFFF;
  --muted: #6B7280;
}

/* This allows Tailwind to use your custom values */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Global styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Text Styles */
@layer components {
  .text-title {
    @apply text-2xl font-bold;
  }

  .text-heading {
    @apply text-xl font-bold text-foreground;
  }

  .text-subtitle {
    @apply text-base font-bold text-foreground;
  }

  .text-body {
    @apply text-base font-normal text-foreground;
  }

  .text-muted {
    @apply text-sm font-medium text-muted;
  }

  .text-label {
    @apply text-sm font-semibold text-foreground;
  }

  .text-error {
    @apply text-sm font-medium text-red-500;
  }
}
  /* Button Styles */
@layer components {
  .btn-primary {
    @apply w-full mt-2 py-3 rounded-4xl font-semibold text-white transition hover:brightness-90;

    background-color: var(--primary);
  }

  .btn-secondary {
    @apply w-full mt-2 py-3 rounded-4xl font-semibold transition bg-gray-200 text-black hover:brightness-95;
  }
}